body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
    min-height: 588px;
    height: 100%;
    width: 100%;
    /*position: absolute;
    left: 670px;
    top: 144px;*/
    border: 1px;
    border: solid 1px #4b9cd7;
}