body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
    /*    height: 320px;
    width: 320px;
    position: absolute;
    left: 0;
    top: 0;*/
   
    height: 100%;
    /*    min-height: 320px;
    height: 100%;*/
    width: 100%;
  
    border: 1px;
  /*  border: solid 1px #4b9cd7;*/
    border: solid 1px #ccc;
  
}