.appBanner {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold
}

.x-panel-header-default {
    background-color: #5fa2dd;
}

.x-panel-header-default .x-tool-tool-el {
    background-color: #5fa2dd;
}

.x-tab-bar-default {
    background-color: #5fa2dd;
}


.x-btn-icon-el-default-toolbar-small {
    color: #3892d4;
}


a:focus, a:hover {
     text-decoration: none!important; 
}

.x-tree-icon {
    color: #666;
}

/*#7fb5e4

#3892d4*/